@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #232424;
  font-family: "Titillium Web", sans-serif;
  font-size: 1rem;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img {
  height: 32px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin-right: 1rem;
}

nav ul li a {
  text-decoration-line: none;
  text-transform: uppercase;
  color: #eaeaea;
}

nav ul li a:hover {
  color: #de4643;
}

nav h1 {
  color: #eaeaea;
  margin-bottom: 0.5rem;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 17rem;
  border-radius: 10px;
  margin: auto;
  overflow: hidden;
  border-color: #222;
  color: whitesmoke
}

.card-image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.flag-image {
  height: 0.8rem;
  width: auto;
}

.card-name {
  color: #dedede;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.card-about {
  color: #dedede;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 1.1rem;
}

.card-team {
  color: #dedede;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btn {
  border: none;
  background: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  margin: 0 1rem;
  padding: 0.25rem 2rem;
  transition: all 0.25s ease-in-out;
  background: hsl(110, 21%, 93%);
  margin-bottom: 1rem;
}

.btn:focus,
.btn:hover {
  box-shadow: 1px 1px 2px rgba(21, 21, 21, 0.2);
  border-color: #a5a5a5;
  border-style: solid;
}

.about-container {
  font-size: 1.25rem;
  margin-top: 2rem;
  text-align: justify;
  text-justify: inter-word;
}